*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
main {
  background-color: rgb(40, 69, 235);
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

.banner {
  border: 4px solid rgb(3, 57, 78);
  width: 100%;
  min-height: 40vh;
  background: linear-gradient(to right bottom, lightblue, skyblue, cyan);
}

main h1 {
  width: max-content;
  margin-inline: auto;
  text-align: center;
  margin-top: 4rem;
  font-size: 3rem;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(0, 41, 0);
}

.header {
  padding: 2rem 4rem;
  background-color: rgb(34, 1, 34);
  color: rgb(245, 224, 245);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
}

.nav-list {
  display: flex;
  gap: 1.25rem;
}

.nav-list li {
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.nav-list li:is(:hover, :active) {
  color: brown;
}

.product-list {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.product {
  padding: 1rem;
  background-color: crimson;
  width: max-content;
  border: 2px solid aliceblue;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.product:is(:hover, :active) {
  background-color: palegoldenrod;
  border: 2px solid crimson;
}

.product-name {
  text-transform: uppercase;
  padding: 1rem;
  width: max-content;
  margin: 0 auto;
  background-color: rgb(0, 41, 0);
  margin-top: 2rem;
  color: rgb(99, 247, 99);
}

.back-link {
  background-color: brown;
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2rem auto;
  width: max-content;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.back-link:is(:hover, :active) {
  background-color: rgb(100, 58, 3);
}
